.BetaBckRoot
{
    width: 100%;
    height: 100%;
	background-color: #212226;
}

.BetaBckTitle
{
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: clip;
}

#TitlePanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 150px;
	margin-left: 100px;
	flow-children: right;
}

#TitleVerPanel
{
	horizontal-align: left;
	vertical-align: bottom;
	margin-bottom: 1000px;
	margin-left: 45px;
	flow-children: right;
}

#BetaVerTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 50px;
	color: #cc0202;
	text-shadow: 2px 2px 2px #000000;
}


#BetaTitle
{
	margin-bottom: -15px;
	vertical-align: center;
	text-transform: uppercase;
	font-size: 80px;
	color: #cc0202;
	text-shadow: 2px 2px 2px #000000;
}

#GameModeDescription
{
    font-size: 27px;
	text-transform: uppercase;
	color: #cccccc;
}

#GameModeHints
{
	margin: 10px;
	font-size: 18px;
	color: #8f9092;
}

#GameModeImage
{
	horizontal-align: center;
	width: 200px;
	height: 150px;

	box-shadow: inset black 5px 5px 10px 10px;
}