.HerosPortraits
{
        width:100%;
        flow-children: down;
}

#AntimageVideo
{
        background-image: url( "file://panorama/videos/heroes/npc_dota_hero_antimage.webm" );
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#AxeVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_axe.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#BeastmasterVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_beastmaster.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#BrewmasterVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_brewmaster.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#BroodmotherVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_broodmother.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#ChenVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_chen.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#DazzleVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_dazzle.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#DeathProphetVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_death_prophet.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#DragonKnightVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_dragon_knight.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#DrowRangerVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_drow_ranger.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#EarthshakerVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_earthshaker.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#FacelessVoidVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_faceless_void.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#GyrocopterVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_gyrocopter.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#LionVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_lion.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#NevermoreVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_nevermore.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#OmniknightVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_omniknight.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#PhantomAssassinVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_phantom_assassin.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#PuckVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_puck.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#PudgeVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_pudge.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#RikiVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_riki.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#SkeletonKingVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_skeleton_king.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#StormSpiritVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_storm_spirit.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#VengefulSpiritVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_vengefulspirit.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#VenomancerVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_venomancer.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#WitchDoctorVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_witch_doctor.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#ZuusVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_zuus.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#SlardarVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_slardar.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#SniperVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_sniper.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#ViperVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_viper.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}
#EnigmaVideo
{
        background-image: url("file://panorama/videos/heroes/npc_dota_hero_enigma.webm");
        background-position: 0% 0%;
        background-repeat: no-repeat;
        background-size: 256px 256px;
        width: 500px;
        height: 500px;
}